#content
  .mx-auto#faqs
    .col-md-12.col-sm-12.my-2.p-0
      %h3.mb-3.text-center សំណួរសួរញឹកញាប់
    - @faqs.each do |faq|
      .card.col-md-12.col-sm-12.p-0.my-2
        .card-body.py-0.m-0
          .d-block.faq-question.py-3
            .d-block
              = link_to "#faq-#{faq.id}", "data-toggle" => "collapse" do
                = faq.question_km
                .pull-right
                  %i.fa.fa-angle-down
            .collapse{ id: "faq-#{faq.id}" }
              %p
                = simple_format faq.answer_km

