.information
  .pullbar.d-none
  .page-title.d-flex.align-items-center
    %span.flex-shrink-0 ប្រព័ន្ធតាមដានជំងឺកូវីដ១៩
    = render "mobile_nav_bar"

  .info-tile
    .legend
      .color.active
      .description= t('shared.total_case')
      .total#active-case
        %span
          = number_with_delimiter @summary_report.total_case.to_i

    .legend
      .color.ongoing
      .description= t('shared.active_case')
      .total#active-case
        %span= number_with_delimiter active_case(@summary_report).to_i
        - if @summary_report.new_case.positive?
          %span.delta= "(#{number_with_delimiter @summary_report.new_case.to_i} ថ្មី)"
    .legend
      .color.recovered
      .description= t('shared.recovered_case')
      .total#recovered-case
        %span= number_with_delimiter @summary_report.recovered_case.to_i
        - if @summary_report.new_recovered_case.positive?
          %span.delta= "(#{number_with_delimiter @summary_report.new_recovered_case.to_i} ថ្មី)"
    .legend
      .color.fatal
      .description= t('shared.fatal_case')
      .total#fatal-case
        %span= number_with_delimiter @summary_report.death_case.to_i
        - if @summary_report.new_death_case.positive?
          %span.delta= "(#{number_with_delimiter @summary_report.new_death_case.to_i} ថ្មី)"

    .last-update.text-center.mt-3
      - if @setting.last_updated.present?
        = "(#{@setting.last_updated})"

  .segment-panel
    .region
      .info-tile.detail-info{ style: "display: none" }
        .title{ title: "ព័ត៌មានលម្អិត" }ព័ត៌មានលម្អិត
        #case-detail-info
    = render "/home/shared/video_list"
