<h2>Videos: <b><%= @videos.count %></b></h2>

<% i = 0 %>
<table class="table">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Author</th>
    <th>Url</th>
  </tr>

  <% @videos.each do |video| %>
    <tr>
      <td><%= i+=1 %></td>
      <td><%= video.title %></td>
      <td><%= video.author %></td>
      <td><%= link_to video.url, video.url, target: "_blank", rel: "noopener" %></td>
    </tr>
  <% end %>
</table>

