= link_to "ជំងឺឆ្លង COVID-19", reports_path, class: "navbar-brand"
%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
  %span.navbar-toggler-icon
#navbarNavDropdown.collapse.navbar-collapse
  %ul.navbar-nav.mr-auto
    %li.nav-item{ class: ("active" if current_page?(reports_path)) }
      = link_to "Reports", reports_path, class: "nav-link"
    %li.nav-item{ class: ("active" if current_page?(videos_path)) }
      = link_to "Videos", videos_path, class: "nav-link"
    %li.nav-item{ class: ("active" if current_page?(setting_path)) }
      = link_to "Setting", setting_path, class: "nav-link"
  = link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Sign out?" }, class: 'btn btn-dark'