.mobile-header
  .a.logo
  .mobile-menu-button
    %i.fa.fa-bars

.mobile-menu-panel{ style: "display: none;" }
  .overlay
  .mobile-menu.d-flex.flex-column
    %a.close-button
      %i.fa.fa-times

    .menu-options
      = link_to "#", class: "menu-option btn-share" do
        %i.fas.fa-share-square
        %div ចែករំលែក

      = link_to developer_guides_path(display_mode: params[:display_mode]), class: "menu-option" do
        %i.fa.fa-code
        %div Developer Guide

      = link_to about_path(display_mode: params[:display_mode]), class: "menu-option" do
        %i.fa.fa-info-circle
        %div អំពីកម្មវិធី

    %small.text-center.mt-3= ENV['LAST_UPDATED_AT']

    .flex-grow-1.d-flex.align-items-end
      .d-flex.w-100
        %small.flex-grow-1
          = "#{t('shared.number_of_visitor')}: #{number_to_human(Ahoy::Visit.count, :format => '%n%u', :units => { :thousand => 'K' })}"

        %small= "#{t('shared.version')}: #{ENV.fetch('APP_VERSION') { 'development' }}"
