.mobile-header
  .a.logo
  .mobile-menu-button
    %i.fa.fa-bars

.mobile-menu-panel{ style: "display: none;" }
  .overlay
  .mobile-menu.d-flex.flex-column
    %a.close-button
      %i.fa.fa-times
    .menu-options
      .menu-option.btn-share
        %i.fas.fa-share-square
        %div ចែករំលែក

      = link_to about_path, class: "menu-option" do
        %i.fa.fa-info-circle
        %div អំពីកម្មវិធី

    %small.text-center.pt-2= ENV['LAST_UPDATED_AT']

    %small.flex-grow-1.d-flex.align-items-end.justify-content-center= "#{t('shared.version')}: #{ENV.fetch('APP_VERSION') { 'development' }}"
