.country.tab
  .page-name#location-name
    = @summary_report[:location_name]
  .info-title
    .title{ title: "Total Confirm Cases" }
      ចំនួនករណីឆ្លងជំងឺ Covid-19 សរុប
    .confirmed#confirmed-case
      37
    .legend
      .color.ongoing
      .description ករណីអ្នកកំពុងផ្ទុកជំងឺ
      .total#active-case= @summary_report[:active]

      .color.recovered
      .description ករណីជាសះស្បើយ
      .total#recovered-case= @summary_report[:recovered]

      .color.fatal
      .description ករណីអ្នកជំងឺស្លាប់
      .total#fatal-case= @summary_report[:fatal]
    .title.text-center (គិតត្រឹម 19 មិនា 2020)
  .areas
    .area.selected#00{ data: { total: @summary_report[:total], active: @summary_report[:active], recovered: @summary_report[:recovered], fatal: @summary_report[:fatal], location: @summary_report[:location_name] } }
      .area-name= @summary_report[:location_name]
      .area-total 37
    - @reports.each do |report|
      .area{ id: report[:id], data: { total: report[:total], active: report[:active], recovered: report[:recovered], fatal: report[:fatal], location: report[:location_name] } }
        .area-name= report[:location][:name_km]
        .area-total= report[:total]
