- if @device.device_type == "smartphone" || @device.device_type == "phablet"
  .mobile
    .content
      = render "shared/mobile_nav_bar"
      #map.map{ "data-covid-19": @json_reports }
      = render "mobile_info_sidebar"
    = render "location_dropdown"
- else
  .desktop
    .content
      .header
        = render "shared/user_nav_bar"

      .tabs
        = render "info_sidebar"

      #map{ "data-covid-19": @json_reports, style: "height: 100%; width: 100%; overflow: hidden;" }

:javascript
  locale = {
    activeCase: "#{t('shared.active_case')}",
    recoveredCase: "#{t('shared.recovered_case')}",
    fatalCase: "#{t('shared.fatal_case')}",
    totalCase: "#{t('shared.total_case')}"
  }
