= render "shared/user_nav_bar"
-# .desktop
-#   .content
-#     = render "info_sidebar"
-#     #map.w-100{ "data-covid-19": @reports.to_json, style: "height: 100%; width: 100%; overflow: hidden;" }
-#     = render "mobile_info_sidebar"

.mobile
  .content
    #map.map{ "data-covid-19": @reports.to_json }
    = render "mobile_info_sidebar"
  = render "location_dropdown"

:javascript
  locale = {
    activeCase: "#{t('shared.active_case')}",
    recoveredCase: "#{t('shared.recovered_case')}",
    fatalCase: "#{t('shared.fatal_case')}",
    totalCase: "#{t('shared.total_case')}"
  }
