.information
  .pullbar
  .page-title ប្រព័ន្ធតាមដានជំងឺ COVID-19
  .area
    .area-name= @summary_report.location.name_km
    .area-total
      .secondary-info#confirmed-case
        .case-count
          = @summary_report.total_case
        %i.fa.fa-angle-down

  .info-tile
    .bar
    .legend
      .color.ongoing
      .description= t('shared.active_case')
      .total#active-case
        %span= active_case(@summary_report)
        - if @summary_report.new_case.positive?
          %span.delta= "(#{@summary_report.new_case} ថ្មី)"
    .legend
      .color.recovered
      .description= t('shared.recovered_case')
      .total#recovered-case
        %span= @summary_report.recovered_case
        - if @summary_report.new_recovered_case.positive?
          %span.delta= "(#{@summary_report.new_recovered_case} ថ្មី)"
    .legend
      .color.fatal
      .description= t('shared.fatal_case')
      .total#fatal-case
        %span= @summary_report.death_case
        - if @summary_report.new_death_case.positive?
          %span.delta= "(#{@summary_report.new_death_case} ថ្មី)"

    .last-update.text-center.mt-3
      = "(#{@setting.last_updated})"

  .segment-panel
    .region
      .info-tile.detail-info{ style: "display: none" }
        .title{ title: "ព័ត៌មានលម្អិត" }ព័ត៌មានលម្អិត
        #case-detail-info
    = render "/home/shared/video_list"
