#content
  .mx-auto#developer-guides
    .card.col-md-12.col-sm-12.p-0
      .card-body
        %h3.mb-3.text-left Developer Guide
        %p
          COVID-19 Tracking System provides you many UI style that you can use to embed into your website.

    .card.col-md-12.col-sm-12.p-0.mt-2
      .card-body
        %h5.mt-1.mb-3 List View
        .row
          .col-md-7
            %h6.my-2
              Embeded Code
            %button.btn.btn-sm.btn-primary.float-right{ data: { "clipboard-target" => "#list-view", tooltip: "Copied!" } }
              Copy
              %i.fa.fa-copy
            %pre
              %code#list-view.html
                = "<iframe src=\"#{root_url}list_views\" style='width: 250px; height: 300px; border: 0;'></iframe>"
          .col-md-5
            %h6.my-2 Sample preview
            = image_tag "welcomes/widget_preview/preview.png", class: "widget-preview list-view img-fluid"

    .card.col-md-12.col-sm-12.p-0.mt-2
      .card-body
        %h5.mt-1.mb-3 List View with "Cambodia" list open
        .row
          .col-md-7
            %h6.my-2
              Embeded Code
            %button.btn.btn-sm.btn-primary.float-right{ data: { "clipboard-target" => "#list-view-open", tooltip: "Copied!" } }
              Copy
              %i.fa.fa-copy
            %pre
              %code#list-view-open.html
                = "<iframe src=\"#{root_url}list_views?location_info=00\" style='width: 250px; height: 300px; border: 0;'></iframe>"
          .col-md-5
            %h6.my-2 Sample preview
            = image_tag "welcomes/widget_preview/preview.png", class: "widget-preview list-view img-fluid"

    .card.col-md-12.col-sm-12.p-0.mt-2
      .card-body
        %h5.mt-1.mb-3 Map View
        .row
          .col-md-7
            %h6.my-2 Embeded Code
            %button.btn.btn-sm.btn-primary.float-right{ data: { "clipboard-target" => "#map-view", tooltip: "Copied!" } }
              Copy
              %i.fa.fa-copy
            %pre
              %code#map-view
                = "<iframe src=\"#{root_url}?display_mode=map\" style=\"height: 500px; width: 530px; border: 0;\"'></iframe>"
          .col-md-5
            %h6.my-2 Sample preview
            = image_tag "welcomes/widget_preview/preview.png", class: "widget-preview map-view img-fluid"

    .card.col-md-12.col-sm-12.p-0.mt-2
      .card-body
        %h5.mt-1.mb-3 Mobile view
        .row
          .col-md-7
            %h6.my-2 Embeded Code
            %button.btn.btn-sm.btn-primary.float-right{ data: { "clipboard-target" => "#mobile-view", tooltip: "Copied!" } }
              Copy
              %i.fa.fa-copy
            %pre
              %code#mobile-view
                = "<iframe src=\"#{root_url}?display_mode=mobile\" style=\"width: 320px; height: 500px; border: 0;\"></iframe>"
          .col-md-5
            %h6.my-2 Sample preview
            = image_tag "welcomes/widget_preview/preview.png", class: "widget-preview mobile-view img-fluid"

    .card.col-md-12.col-sm-12.p-0.mt-2
      .card-body
        %h5.mt-1.mb-3 Desktop view
        .row
          .col-md-7
            %h6.my-2 Embeded Code
            %button.btn.btn-sm.btn-primary.float-right{ data: { "clipboard-target" => "#desktop-view", tooltip: "Copied!" } }
              Copy
              %i.fa.fa-copy
            %pre
              %code#desktop-view
                = "<iframe src=\"#{root_url}\" style=\"width: 1024px; height: 600px; border: 0;\"></iframe>"
          .col-md-5
            %h6.my-2 Sample preview
            = image_tag "welcomes/widget_preview/desktop_preview.png", class: "widget-preview desktop-view img-fluid"
