- if mobile_request?
  .mobile
    .trigger-menu-wrapper
      = link_to root_path(display_mode: params[:display_mode]), class: "btn", style: "padding: 10px;" do
        %i.fas.fa-chevron-left
        %font{size: 4}= t('about.back')

    = render "guide"

- else
  .desktop
    .content
      .header
        = render "shared/user_nav_bar"

      = render "guide"
