!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=2.0"}
    %meta{ content: "ប្រព័ន្ធតាមដានករណីឆ្លងកូវីដ១៩", property: "og:title"}
    %meta{ content: asset_url("cdc.jpg"), property: "og:image"}
    %meta{ content: t("shared.share_description"), property: "og:description"}
    = favicon_link_tag asset_path("cdc-tran.png")

    -# Global site tag (gtag.js) - Google Analytics
    %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{ENV['GA_TRACKING_ID']}" }
    :javascript
      window.dataLayer = window.dataLayer || [];
      var GA_TRACKING_ID = "#{ENV["GA_TRACKING_ID"]}";
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", GA_TRACKING_ID);


    %title ប្រព័ន្ធតាមដានករណីឆ្លងកូវីដ១៩
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.0/css/all.css", :integrity => "sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", :rel => "stylesheet"}
    = javascript_include_tag "application", "data-turbolinks-track": "reload"

  %body{ id: css_class_name }
    = render "shared/notify_message"
    = yield
