!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=2.0"}
    %meta{ content: "ប្រព័ន្ធតាមដានករណីឆ្លងកូវីដ១៩", property: "og:title"}
    %meta{ content: asset_url("cdc.jpg"), property: "og:image"}
    %meta{ content: t("shared.share_description"), property: "og:description"}
    = yield :head_tag

    -# Google Search Console
    - if ENV["GOOGLE_SITE_VERIFICATION"].present?
      %meta{ name: "google-site-verification", content: ENV["GOOGLE_SITE_VERIFICATION"] }

    -# Global site tag (gtag.js) - Google Analytics
    - if ENV['GA_TRACKING_ID'].present?
      %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{ENV['GA_TRACKING_ID']}" }
      :javascript
        window.dataLayer = window.dataLayer || [];
        var GA_TRACKING_ID = "#{ENV["GA_TRACKING_ID"]}";
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", GA_TRACKING_ID, {
          cookie_flags: "max-age=7200;secure;samesite=none"
        });

    %title ប្រព័ន្ធតាមដានករណីឆ្លងកូវីដ១៩
    = csrf_meta_tags
    = csp_meta_tag

    %link{ href: "https://fonts.googleapis.com/css?family=Battambang&display=swap", rel: "stylesheet" }
    = favicon_link_tag asset_path("cdc-tran.png")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.0/css/all.css", :integrity => "sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", :rel => "stylesheet"}
    = javascript_include_tag "application", "data-turbolinks-track": "reload"

  %body{ id: css_class_name }
    = render "shared/notify_message"
    = yield

    - if ENV["WEBPUSHR"].present?
      :javascript
        (function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('init',"#{ENV["WEBPUSHR"]}");
